{% extends 'base.html.twig' %}

{% block title %}CGU
{% endblock %}

{% block body %}
	{{ include ("partial/title_section.html.twig", {"name":"Condition Générale d'Utilisation"})  }}


	<div class="container">
		<h1 class="text-center">Conditions Générales d'Utilisation</h1>

		<p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium accusantium suscipit sit dolores aliquid vitae facere saepe optio tempora deleniti! Soluta expedita saepe ex eum perspiciatis. Debitis dicta veritatis voluptatem.
												   Rerum vero commodi provident dolorem consequuntur, tenetur unde sunt esse veniam optio ducimus, corporis blanditiis cumque repellendus iste a rem autem. Expedita a, quod numquam maxime minus dolor eaque quam?
												   Laudantium illo libero eos alias iusto! Est voluptatibus tempora facere atque ipsum aliquid cum soluta, reiciendis beatae suscipit iure! A veniam id aperiam tempora, doloremque officiis necessitatibus hic voluptatum obcaecati.
												   Fuga, facilis praesentium quos excepturi at tempora unde ipsum quam! Impedit sed expedita deserunt numquam, pariatur, vero perspiciatis, debitis veritatis maxime assumenda necessitatibus sit illum culpa voluptatem repudiandae accusantium dolores!
												   Ad tempore autem quisquam consectetur commodi. Pariatur facilis nihil illo iste aspernatur rem, ea repellat accusamus architecto totam, repudiandae quaerat eos voluptas. Nobis nihil odio velit molestias ipsam architecto voluptatibus.
												   Alias cumque animi ad nam quisquam, accusamus laboriosam vel, placeat impedit deleniti iusto suscipit ratione tempora esse doloremque eum ea temporibus. Deleniti exercitationem unde, tempore nam animi quas odio nulla.</p>
	{% endblock %}
