{% extends 'base.html.twig'%}

{% block body %}

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Conditions générales</h3>
  <div class="card">
    <h5 class="card-header">Qui sont les Particuliers traiteurs d'ici et d'ailleurs?</h5>
    <div class="card-body">
      <p class="card-text"> 1- Je dispose d'un diplôme en restauration et ou en pâtisserie</p> 
      <p class="card-text"> 2- Je suis un passionné de la restauration et de la pâtisserie occidental, asiatique ou africaine et je justifie d'une expérience professionnelle en restauration et ou en pâtisserie</p> 
      <p class="card-text">3-J'interviendrai au domiciles des client(e)s en qualité de restaurateur ou de pâtissier auto-entrepreneur et non pas en tant que salariés des Particuliers traiteurs</p> 
      <p class="card-text">4-Je reçois les commandes des clients par le biais de l'application, je prépares leurs commande et effectue la livraison</p> 
    <h5 class="card-header">Comment devenir Particuliers traiteurs d'ici et d'ailleurs?</h5>
    <p></p>
    <h5 class="card-title">Je déclare mon activité</h5>
    <p class="card-text">Je crée mon auto-entreprise en ligne sur le site de l'URSSAF:<a href="https://www.autoentrepreneur.urssaf.fr/portail/accueil.html">création simplifiée</a></p> 
    <p class="card-text">Je remplis le formulaire cerfa 13984 et je l'envoie à la DD(CS)PP de votre département (ancienne version):<a href="https://www.formulaires.service-public.fr/gf/cerfa_13984.do">le formulaire cerfa 13984</a></p> 
     <p class="card-text">Je peux également éffectuer cette déclaration d'activité directement en ligne (nouvelle version):<a href="https://agriculture-portail.6tzen.fr/default/requests/Cerfa13984/"> le formulaire cerfa 13984</a></p> 
      <h5 class="card-title">Je suis une formation obligatoire adaptée en hygiène alimentaire</h5>
    <p class="card-text"> le décret n°2011-728 du 24 juin 2011 oblige les gérants des établissements de la restauration commerciale à suivre une formation adaptée en “Hygiène alimentaire”. Cette formation permet d'identifier les dangers/risques liés aux aliments et de les maîtriser, de comprendre les obligations envers la réglementation sanitaire, de gérer et de maintenir les bonnes pratiques d’hygiène et le plan de maîtrise sanitaire .</p>
    <h5 class="card-title">Je me mets en relation avec la platefome des Particuliers traiteurs </h5>
    <p class="card-text">Je remplis le formulaire de prise de contact suivant :.</p>
    <p><button type="button" class="btn btn-warning"><a href="{{path("users_new")}}">    je m'inscris</a></button></p> 
      
    </div>
  </div>
  

  
      </div>
    </div>
  </div>

  
  

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Règlementations françaises et européennes</h3>
<div class="card">
  
    <h5 class="card-title">Règlementations sanitaires françaises</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <h5 class="card-title">Règlementations sanitaires européenne</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
   
  <p>Mieux comprendre notre démarche<a href="https://www.hygiene-securite-alimentaire.fr/interview28-vendez-vos-petits-plats-directement-aux-consommateurs-grace-a/">blog de Séverine Canon</a>

    <p><a href="{{path("app_index")}}" class="btn btn-primary">retour à l'accueil</a></p>
  </div>
</div>
      </div>
    </div>
  </div>


      </div>
    </div>
  </div>
</div>





{% endblock  %}