{% extends "base.html.twig" %}
{% block title %}FAQ
{% endblock %}
{% block body %}
	<div class="container justify-content">
		{{ include("partial/title_section.html.twig", {'name':'FAQ'}) }}
		<h4 class="pt-10">Qui sommes nous ?</h4>
		<p>Mes Coachs Sportifs est une plateforme qui met en relation les clients et les coachs sportifs ou personnal trainer.</p>
		<h4>Comment puis-je réserver ?</h4>
		<p>Pour réserver, il vous de contacter directement le coach choisi sur MC SPORTIF, une que vous vous êtes mis d'accords, vous pourrez passez votre commande en indiquant le nom du coach,sa ville d'exercie et son identifiant MCSPORTIFS afficher sur la page du coach lorsque vous cliquez sur le lien voir son profile.</p>
		<h4>Peut-on discuter avec le coach avant de réserver ?</h4>
		<p>C'est même la condition à respecter avant de réserver les heures. Il vous suffit de vous rendre sur le profil de la coiffeuse, de cliquer sur la prestation souhaitée et vous aurez la possibilité de lui envoyer un message. Vous pourrez alors lui demander ses disponibilités et lui poser toutes vos questions.</p>
		<h4>Est-ce qu’il y a des frais supplémentaires ?</h4>
		<p>Vous n'avez aucun autre frais à payer. Avec MC SPORTIS vous n'avez pas de frais qui se rajoutent au moment de payer : le prix final est celui indiqué.</p>
		<h4>Comment vos coach sont-iles sélectionnés ?</h4>
		<p>Nous sélectionnons chaque coach qui intègre la team MCS avec une grande attention, nous évaluons chaque profil afin qu’ils vous apportent un service de qualité. Ces derniers adhèrent à une charte de satisfaction dès leur entrée sur la plateforme.</p>
		<h4>Où se situe votre service ?</h4>
		<p>Notre service est disponible en metrôpole, mais il sera prochainement disponible en Outre mers.</p>
		<h4>
			Puis-je annuler un rendez-vous ?</h4>
		<p>Vous avez jusqu’à 24h avant la date de votre rendez-vous pour annuler sans aucun frais. Pour cela vous pouvez nous contacter par mail à contact@mcsportifs.com ou au 01 76 41 04 84.
		</p>
		<h4>Peut-on payer en espèces
		</h4>
		<p>
			Actuellement le règlement se fait uniquement en ligne par carte bancaire sur notre système de paiement sécurisé Stripe. Votre paiement est débité le jour de la prestation.</p>
		<h4>Comment fonctionne le site ?</h4>
		<p>1. Choisissez un coach dans votre ville, département ou région.</p>
		<p>2. Envoyer lui un message depuis MC SPORTIFS, ce derner vous répondra et vous conviendrez ensemble de la date, du lieu de la séance.</p>
		<p>3. Passer à l'étape d'achat des heures avec le caoch en cliquant sur achetez des heures.
		</p>
		<p>4. Dans le processus de paiemet il vous sera deamnder d'indiquer le nom du coach, sa ville d'exercice et son Identifiant MC SPORTIFS.</p>
		<h4>Je ne trouve pas de réponse à ma question ?</h4>
		<p>N’hésitez pas à nous contacter via l’adresse contact@mcsportifs.com ou au 01 76 41 04 84, nous vous apporterons une réponse sous 48h.</p>


	</div>
{% endblock %}
