{% extends 'base.html.twig' %}

{% block title %}New Ventes{% endblock %}

{% block body %}
    <h1>Create new Ventes</h1>

    {{ include('ventes/_form.html.twig') }}

    <a href="{{ path('ventes_index') }}">back to list</a>
{% endblock %}
