<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row blog">
		<div class="col-md-12">
			<div id="blogCarousel" class="carousel slide" data-ride="carousel">

				<ol class="carousel-indicators">
					<li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#blogCarousel" data-slide-to="1"></li>
				</ol>

				<!-- Carousel items -->
				<div class="carousel-inner">

					<div class="carousel-item active">
						<div class="row">
							<div class="col-md-3">
								<a href="#">
									<img src="assets/images/pexels-photo-7302890.jpeg" alt="Image" style="max-width:100%;">
								</a>
							</div>
							<div class="col-md-3">
								<a href="#">
									<img src="assets/images/pexels-pixabay-414029.jpg" alt="Image" style="max-width:100%;">
								</a>
							</div>
							<div class="col-md-3">
								<a href="#">
									<img src="assets/images/sport-aîné-avec-l-instructeur-27675399.jpg" alt="Image" style="max-width:100%;">
								</a>
							</div>
							<div class="col-md-3">
								<a href="#">
									<img src="assets/images/le-couple-supérieur-joyeux-appréciant-le-sport-s-exerce-ensemble-95514072.jpg" alt="Image" style="max-width:100%;">
								</a>
							</div>
						</div>
						<!--.row-->
					</div>
					<!--.item-->

					<div class="carousel-item">
						<div class="row">
							<div class="col-md-3">
								<a href="#">
									<img src="assets/images/pexels-photo-8692277.jpeg" alt="Image" style="max-width:100%;">
								</a>
							</div>
							<div class="col-md-3">
								<a href="#">
									<img src="assets/images/pexels-photo-8692277.jpeg" alt="Image" style="max-width:100%;">
								</a>
							</div>
							<div class="col-md-3">
								<a href="#">
									<img src="assets/images/pexels-photo-7302890.jpeg" alt="Image" style="max-width:100%;">
								</a>
							</div>
							<div class="col-md-3">
								<a href="#">
									<img src="assets/images/pexels-photo-7302890.jpeg" alt="Image" style="max-width:100%;">
								</a>
							</div>
						</div>
						<!--.row-->
					</div>
					<!--.item-->

				</div>
				<!--.carousel-inner-->
			</div>
			<!--.Carousel-->

		</div>
	</div>
</div>
