<div class="banner_section slide_medium shop_banner_slider staggered-animation-wrap">
	<div id="carouselExampleControls" class="carousel slide carousel-fade light_arrow" data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active background_bg" data-img-src="http://placehold.it/1920/500">
				<div class="banner_slide_content">
					<div
						class="container">
						<!-- STRART CONTAINER -->
						<div class="row">

							<div class="col-lg-7 col-9">
								<div class="banner_content overflow-hidden">
									<h5 class="mb-3 staggered-animation font-weight-light" data-animation="slideInLeft" data-animation-delay="0.5s">30% de réduction immédiat sur des seances dont le lieu est choisi par le coach ou pour des séances en visio</h5>
									<h2 class="staggered-animation" data-animation="slideInLeft" data-animation-delay="1s">Vous pouvez annuler votre rendez-vous jusqu'à 24h avant la séance
									</h2>
									<a class="btn btn-fill-out rounded-0 staggered-animation text-uppercase" href="" data-animation="slideInLeft" data-animation-delay="1.5s">réservez vos heures</a>
								</div>
							</div>
						</div>
					</div>
					<!-- END CONTAINER-->
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
			<i class="ion-chevron-left"></i>
		</a>
		<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
			<i class="ion-chevron-right"></i>
		</a>
	</div>
</div>
