{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
{# <div class="card">
  <div class="card-body">
    <h1>Nos Spécialités </h1>
        {% for c in categories %}
            <div class="categories">
            {{ c.nom}}
            </div>
        {% endfor %}
     <h1>Nos ventes </h1>
        {% for v in ventes %}
            <div class="ventes">
            {{ v.nom}}
            </div>
        {% endfor %}
  </div>
</div> #}
{% endblock %}
